
.scott-navbar{
    /* margin: 4rem; */
    position: sticky;
    top: 0;
    overflow: hidden;
}
.scott-container{
    margin: 0rem 43rem 0rem 43rem;
}
.about-container{
    margin: 0rem 35rem 0rem 35rem;
}

.text-heading{
    font-family: "Oswald" !important;
}

.text-paragraph{
    font-family: "Albert Sans" !important;
}

.text-paragraph-hero{
    font-size: 24px;
}

.wd-40{
    width: 40%;
}
#about{
    background-color: white;
    color: black;
    /* margin: 4rem; */
    padding: 6rem;
    text-align: center;
}
#projects{
    background-color: white;
    color: black;
    /* margin: 0rem 43rem 0rem 43rem; */
    /* padding: 6rem; */
    /* text-align: center; */
}

#contact{
    background-color: white;
    color: black;
    /* margin: 4rem; */
    padding: 6rem;
    /* margin: 0rem 37rem 0rem 37rem; */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.bi {
    font-size: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 4px;
}
.footer{
    background-color: black;
    color: white;
}

.footertext{
    padding: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 40rem 0rem 40rem;
}
.copyright{
    margin-top: 10px; /* Moves the copyright outside and below the grid */
    margin-bottom: 0 !important; 
    background-color: black;
    font-size: 14px;
    text-align: center;
    /* padding: 10px 0; */
    width: 100%;
}

